# db
DATABSE_URL=sqlite+aiosqlite:///./src/database/database.db

# api key
GOOGLE_API_KEY=************************
GROQ_API_KEY=******************************  

# cloudinary
CLOUDINARY_CLOUD_NAME=********
CLOUDINARY_API_KEY=***************
CLOUDINARY_API_SECRET=***********************