cloudinary==1.44.1
fastapi==0.135.3
langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_core==1.2.25
langchain_google_genai==4.2.1
langchain_groq==1.1.2
langchain_text_splitters==1.1.1
protobuf==7.34.1
pydantic==2.12.5
python-dotenv==1.2.2
SQLAlchemy==2.0.49
